@page
@model IndexModel

@{
    ViewData["Title"] = "Todos";
}

<p class="foo">Es ist jetzt @Model.Uhrzeit</p>

<form method="get">
    <input type="text" name="search">
    <input type="submit" value="Suchen">
</form>

<ul>
    @foreach (var todo in Model.Todos)
    {
        <li>@todo.Titel</li>
    }
</ul>
